body {
    padding-top: 60px;
    padding-bottom: 0px;
}

.post-item {padding: 10px 0 10px 0;}

.post-item .span8 {
    margin-top: 20px;
    border-bottom: 1px solid#ccc;
}

.post-item .span1 a {color:red;}

#footer{
    background-color: #f5f5f5;
}
#divcontainetfooter{
    height: 80px; 
    line-height: 80px;
}   
#map {
    height: 400px;
}

#pano{
    width: 300px; 
    height: 250px;
}
/* Echo out a label for the example */
/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          
  border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Monitoring Device";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
